.container {
    height: 97vh;
    display: grid;
    grid-template-columns: [first] 33% [second] 33% [thrid] auto [end] auto;
    grid-template-rows: [start] 16.6% [row2] 16.6% [row3] 16.6%[row4] 16.6% [row5] 16.6% [row6] auto;
    margin: 10px;
  }

  .fontputih{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fonthitam{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color : black;
}

.birutua{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #0070C0;
}

.kuning {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: yellow;
}

.merah {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: red;
}

.hijau {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: #00B050;
}

.hitam {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: black;
}

.coklat {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #806000;
}

.ungu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color:#7030A0;
}

.orange {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: orange;
}

.putih {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: white;
}

.abuabu {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #A6A6A6;
}

.pink {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #FF99FF;
}

.biru {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #00B0F0;
}

.borderhitam{
    border: 2px solid black;
}